.match-info {
    display: flex;
    gap: 8px;
    padding-block: 10px 20px;
    border-bottom: 1px solid hsla(0, 4%, 64%, .5);
    position: relative;

    .corner-img {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer
    }

    .info-col {

        &.hide {
            display: none
        }

        .expert-info {
            display: flex;
            align-items: center;
            gap: 13px;

            .expert-name {
                font: 500 10px/1.25em Roboto
            }
        }

        .score {
            display: flex;
            gap: 4px;
            margin-top: 10px;

            p {
                font: 500 32px/1em Roboto
            }

            .winning {
                color: #3CBA01
            }

            .losing {
                color: #EC1010
            }
        }
    }

    .team-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-inline: 12px;

        .date {
            display: none
        }

        .team-col {
            display: flex;
            align-items: center;
            gap: 20px;

            .score-subcol {
                p {
                    font: 400 10px/1.5em Roboto
                }
            }
    
            .team-info-subcol {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50px;
                position: relative;

                p {
                    text-align: center
                }

                .team-name {
                    font: 600 10px/1.5em Poppins
                }
    
                .team-city {
                    font: 400 7px/1.5em Poppins
                }
            }
        }

        .team-col-1 .team-info-subcol .pick {
            position: absolute;
            right: -12px;
            bottom: 0
        }

        .team-col-2 {
            .team-info-subcol .pick {
                position: absolute;
                left: -12px;
                bottom: 0
            }
            .score-subcol p {
                text-align: right
            }
        }
    }

    .team-wrapper-2 {
        padding-block: 8px 16px;
        position: relative;

        .date {
            display: block;
            position: absolute;
            top: 8px;
            left: 8px;
            font: 700 8px/1.5em Poppins
        }

        .team-col {
            .score-subcol {
                width: 50px   
            }
        }

        .team-col-1 .score-subcol {
            margin-left: 16px;
            margin-top: 8px
        }

        .team-col-2 .score-subcol {
            margin-right: 16px;
            margin-top: 8px
        }
    }
}

.matchInfo4expertProfile {
    box-shadow: 0 4px 4px 0 hsla(0deg, 0%, 0%, .25);
    width: calc(100% - 16px);
    margin-inline: auto;
    border-radius: 7px;
    margin-top: 12px;
    padding: 0;

    .info-col {
        display: none
    }

    .team-wrapper {
        position: relative;
        padding-block: 12px;

        .date {
            display: block;
            font: 700 8px/1em Roboto;
            position: absolute;
            top: 12px;
            left: 12px
        }

        .team-col-1 {
            margin-left: 2.5rem
        }
    
        .team-col-2 {
            margin-right: 2.5rem
        }
    }
}