.expert-account-creation-wrapper {
    padding: 10px 20px;

    h2 {
        font: 700 34px/1.5em Poppins;
        margin-bottom: 72px
    }

    &>div {
        display: flex;
        align-items: center;

        p {
            font: 400 16px/1.5em Poppins
        }
    }

    .add-img, .add-banner {
        gap: 15px;
        padding-left: 40px;

        p {
            width: 93px
        }
    }

    .add-banner {
        margin-block: 46px 63px
    }

    .btn-group {
        flex-direction: column;

        button {
            width: 150px;
            height: 36px;
            background: #F9FAFB;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            color: #8C8C8C;
            font: 700 14px/1.5em Roboto
        }
    }
}