.menu-wrapper {
    width: 218px;
    height: 346px;
    border-right: 1px solid #018301;
    border-bottom: 1px solid #018301;
    border-radius: 0 0 10px 0;
    padding: 10px 32px 0 0;
    position: relative;

    p {
        font: 400 16px/1.5em Poppins;
        color: #A8A0A0;
        text-align: right;
        & + p {
            margin-top: 4px
        }
    }

    .logout-btn {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        p {
            color: #018301;
            font: 700 12px/1.5em Poppins
        }
    }
}